extends ../../../../siteframes/defaultSiteframe

block meta
  title hello. atomic design

block content
  +textImageTeaser({
    "text": "<h2>I am HELLO.</h2><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <a href='#'>commodo</a> ligula eget dolor. Aenean massa.</p><ul><li>Lorem ipsum</li><li>Cum sociis natoque penatibus</li></ul>",
    "ctas": [
      {
        "icon": "github",
        "text": "visit me on github",
        "href": "https://github.com/arsenybobrov/hello"
      }
    ]
  })