@keyframes dummy {
  from { opacity: 0; }
  to { opacity: 1; }
}

.header {
  width: 100%;
  height: 450px;
  background: url($imgPath + 'hello_cgn.jpg') no-repeat;
  background-size: cover;
}

h1 {
  color: $brand;
  margin-bottom: 25px;
}

p {
  color: lighten($dark, 10%);
  margin: 0;
  animation-duration: 3s;
  animation-name: dummy;
}
