::selection {
  background: black;
  color: white;
}

::-moz-selection {
  background: black;
  color: white;
}

body {
  position: relative;
  font-family: 'exo_regular', sans-serif;
  padding: 15px;
}
