extends ../../siteframes/defaultSiteframe

block meta
  title hello. scrollmagic

block content
  h1 scroll down :)
  .s100
  #svgDrawingArea
    include ../atomic/atoms/icons/svgs/github.icon.pug
  .s100
