extends ../../siteframes/defaultSiteframe

block meta
  title hello. scrollmagic

block content
  .s100
  #trigger
  #imagesequence
    img#myimg(
      src='https://scrollmagic.io/assets/img/example_imagesequence_01.png'
      data-images=`[
        "https://scrollmagic.io/assets/img/example_imagesequence_01.png",
        "https://scrollmagic.io/assets/img/example_imagesequence_02.png",
        "https://scrollmagic.io/assets/img/example_imagesequence_03.png",
        "https://scrollmagic.io/assets/img/example_imagesequence_04.png",
        "https://scrollmagic.io/assets/img/example_imagesequence_05.png",
        "https://scrollmagic.io/assets/img/example_imagesequence_06.png",
        "https://scrollmagic.io/assets/img/example_imagesequence_07.png"
      ]`
    )
  .s100

