.s100 {
  height: 100vh;
  transition: background-color 3s ease-out;
}

.s100--dark {
  background-color: black;
}

.section {
  position: relative;
}

#imagesequence {
  width: 50%;

  img {
    width: 550px;
  }
}

.content {
  position: absolute;
  width: 50%;
  left: 50%;
}

.content__headline {
  font-size: 50px;
  font-weight: bold;
  color: #990000;
}

.content__text {
  line-height: 1.5;
  margin-top: 35px;
}

#svgDrawingArea {
  display: flex;
  height: 400px;
  background: #eeeeee;
  justify-content: center;
  align-items: center;

  svg {
    height: 250px;
    width: 250px;
  }
}

