extends ../siteframes/defaultSiteframe

block content
  h1 hello.
  br
  a(href='./atoms/anotherDummyComponent/anotherDummy.html') anotherDummyComponent
  br
  a(href='./molecules/dummyComponent/dummy.html') dummyComponent
