extends ../siteframes/defaultSiteframe

block content
  h1 hello.
  p prototyping ideas.
  br
  a(href="./atomic/molecules/textImageTeaser/textImageTeaser.html", target="_blank") atomic design
  br
  a(href="./gsap/gsap-tweening.html", target="_blank") gsap tweening
  br
  a(href="./gsap/gsap-typewriter.html", target="_blank") gsap typewriter

