extends ../../siteframes/defaultSiteframe

block content
  .header
  +dummyMixin({
    "headline": "hello.",
    "text": "prototyping ideas."
  })
  +anotherDummyMixin({
    "text": "click me"
  })
  br
  br
  img(src=require('../../assets/img/hello_nature.jpg') alt='sample image')
